            <nav class="navbar navbar-mruby" role="navigation">
              <div class="navbar-header">
                <a href="/"><img src="/images/ospk_header.png" /></a>
              </div>

              <div>
                <ul class="nav navbar-nav">
                  <li>
                    <a href="/wifi_speaker_starter_kit.html">STARTER KIT</a>
                  </li>
                  <li>
                    <a href="http://github.com/openspeaker/openspeaker">Source Code</a>
                  </li>
                  <li>
                    <a href="/about.html">About</a>
                  </li>
                </ul>

                <!--
                <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" />
                  </div> <button type="submit" class="btn btn-default">Submit</button>
                </form>
                -->
              </div>
              
            </nav>
